.top-banner {
    .swiper-button-next,
    .swiper-button-prev {
        background: color-mix(in oklab, var(--color-accent-500) 70%, transparent);
        padding: calc(var(--spacing) * 1);
        --tw-backdrop-blur: blur(var(--blur-md));
        -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
            var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
            var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
        backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
            var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,)
            var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);

        path {
            fill: var(--color-white);
        }
    }

    .swiper-pagination-bullet-active {
        background: color-mix(in oklab, var(--color-accent-500) 70%, transparent);
    }

    .swiper-pagination-bullet {
        background: color-mix(in oklab, var(--color-white) 70%, transparent);
        opacity: 0.8;
    }
}
