.visual-break {
}

.green-visual-break {
    background: url(@resources/assets/images/green-visual-break.jpg) no-repeat center center;
    background-size: cover;
}

.blue-visual-break {
    background: url(@resources/assets/images/blue-visual-break.jpg) no-repeat center center;
    background-size: cover;
}
