@use '../../node_modules/swiper/swiper.css';
@use '../../node_modules/swiper/modules/navigation.css';
@use '../../node_modules/swiper/modules/pagination.css';

@use './title';
@use './banner';
@use './image-menu';
@use './promotions';
@use './visual-break';
@use './header';
@use './hamburger';
@use './headroom';
@use './footer';

.grecaptcha-badge {
    opacity: 0 !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

.title-box {
    padding-inline: calc(var(--spacing) * 3);
}

[data-modal-backdrop='static'] {
    background-color: rgba(0, 0, 0, 0.5);
}

.quote-form-box,
.contact-form-box {
    .sendingBox {
        background: url(@resources/assets/images/spinner-bg.gif) no-repeat center center #fff;
        background-size: contain;
    }

    .sendingBox,
    .messageBox {
        display: none;
    }

    &.sent {
        form,
        .message,
        .messageBox {
            display: block;
        }
        .sendingBox {
            display: none;
        }
    }

    &.sending {
        form {
            display: none;
        }
        .sendingBox {
            display: block;
        }
    }

    &.error {
        .sendingBox {
            display: none;
        }
        form,
        .messageBox {
            display: block;
        }

        textarea,
        input {
            border-color: var(--color-rose-500);
            color: var(--color-rose-500);
        }
        label {
            color: var(--color-rose-500);
        }
    }
}

.messageBox .message,
.messageBox .error {
    display: none;
}

.messageBox.visible-success .message {
    display: block;
}
.messageBox.visible-error .error {
    display: block;
    color: var(--color-rose-500);
}

.dark\:bg-gray-700 {
    background-color: var(--color-white);
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-white);
    }
}

.dark\:text-white {
    color: var(--color-gray-900);
    @media (prefers-color-scheme: dark) {
        color: var(--color-gray-900);
    }
}

.dark\:text-gray-300 {
    color: var(--color-gray-500);
    @media (prefers-color-scheme: dark) {
        color: var(--color-gray-500);
    }
}

.spinner-picture {
    background: url(@resources/assets/images/spinner-bg.gif) no-repeat center center #fff;
    background-size: 60px auto;
}

.dotPatter {
    &::before {
        background: url(@resources/assets/images/pattern.png) repeat 0 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

.top-banner {
    .swiper-slide {
        @extend .dotPatter;
    }
}

.top-small-banner {
    position: relative;

    @extend .dotPatter;
}

body {
    &.open-menu {
        overflow: hidden;

        @media (width >= 64rem) {
            overflow: auto;
        }

        nav.main-menu {
            height: 100vh !important;
            left: 0;
            @media (width >= 64rem) {
                height: auto !important;
            }
        }

        &::after {
            background-color: color-mix(in oklab, var(--color-primary-700) 60%, transparent);
            backdrop-filter: var(--tw-backdrop-blur,);
            content: '';
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 2;

            @media (width >= 64rem) {
                display: none;
            }
        }

        .main-menu-list {
            a {
                background: #ffffff1f;
                @media (width >= 64rem) {
                    background: none;
                }
            }
        }
    }
}

body {
    &.headroom--not-top.headroom--bottom,
    &.headroom--not-top.headroom--not-bottom.headroom--pinned,
    &.headroom--not-bottom.headroom--not-top.headroom--unpinned {
        .fixed-logotype {
            display: block;
            height: calc(var(--spacing) * 10);
        }

        .top-bar {
            padding: calc(var(--spacing) * 3) !important;
            a {
                height: calc(var(--spacing) * 10);
                width: 100px;
            }
        }

        .static-logotype {
            display: none;
        }

        .top-info-bar,
        .main-menu {
            height: auto;
        }

        .main-menu {
            @media (width >= 80rem) {
                padding-left: calc(var(--spacing) * 8);
                padding-left: calc(var(--spacing) * 16);
            }
        }

        .main-menu-list {
            gap: calc(var(--spacing) * 1);

            @media (width >= 64rem) {
                gap: calc(var(--spacing) * 3);
            }

            a {
                background: rgb(255 255 255 / 8%);
                padding: calc(var(--spacing) * 3);
            }
        }

        .top-info-container {
            padding-block: calc(var(--spacing) * 1.5);
        }

        // a {
        //     padding: 0;
        // }
    }
}

.contact-form-box {
    .just-validate-error-label {
        color: var(--color-accent-500) !important;
    }
}

.custom-list {
    padding-left: calc(var(--spacing) * 0.85);
    li {
        &::before {
            background: url(@resources/svg/bullet.svg) no-repeat left center;
            content: '';
            display: block;
            height: calc(var(--spacing) * 3.5);
            left: 0;
            top: calc(var(--spacing) * 0.75);
            position: absolute;
            width: calc(var(--spacing) * 3.5);
        }
    }
}

.cta-component {
    > a {
        border-left: 0 !important;
        border-top: 0 !important;

        &::before {
            bottom: 0;
            background: transparent;
            content: '';
            display: block;
            height: 70%;
            left: 0;
            position: absolute;
            width: 6px;
            @media (width >= 48rem) {
                width: 10px;
            }
        }

        &::after {
            top: 0;
            background: red;
            content: '';
            display: block;
            height: 6px;
            right: 0;
            position: absolute;
            width: 40px;
            @media (width >= 48rem) {
                height: 10px;
            }
        }
    }

    &.purple {
        > a {
            border-bottom-color: var(--color-primary-700);
            border-right-color: var(--color-primary-700);
            color: var(--color-primary-700);

            &::after,
            &::before {
                background-color: var(--color-primary-700);
            }

            &:hover {
                background: var(--color-primary-700);
                color: var(--color-white);

                line,
                path {
                    stroke: var(--color-white);
                }
            }
        }

        line,
        path {
            stroke: var(--color-primary-700);
        }
    }

    &.orange {
        > a {
            border-bottom-color: var(--color-accent-500);
            border-right-color: var(--color-accent-500);
            color: var(--color-accent-500);

            &::after,
            &::before {
                background-color: var(--color-accent-500);
            }

            &:hover {
                background: var(--color-accent-500);
                color: var(--color-white);

                line,
                path {
                    stroke: var(--color-white);
                }
            }
        }

        line,
        path {
            stroke: var(--color-accent-500);
        }
    }

    &.blue {
        > a {
            border-bottom-color: var(--color-info);
            border-right-color: var(--color-info);
            color: var(--color-info);

            &::after,
            &::before {
                background-color: var(--color-info);
            }

            &:hover {
                background: var(--color-info);
                color: var(--color-white);

                line,
                path {
                    stroke: var(--color-white);
                }
            }
        }

        line,
        path {
            stroke: var(--color-info);
        }
    }

    &.green {
        > a {
            border-bottom-color: var(--color-success);
            border-right-color: var(--color-success);
            color: var(--color-success);

            &::after,
            &::before {
                background-color: var(--color-success);
            }

            &:hover {
                background: var(--color-success);
                color: var(--color-white);

                line,
                path {
                    stroke: var(--color-white);
                }
            }
        }

        line,
        path {
            stroke: var(--color-success);
        }
    }

    &.white {
        > a {
            border-bottom-color: var(--color-white);
            border-right-color: var(--color-white);
            color: var(--color-white);

            &::after,
            &::before {
                background-color: var(--color-white);
            }
        }

        line,
        path {
            stroke: var(--color-white);
        }
    }
}

.section-lavender {
    background: url(@resources/assets/images/lavender-bg.png) no-repeat top center var(--color-lavender-50);
    background-size: cover;
}

.blue-lines {
    background-image: url(@resources/svg/blue-lines.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.orange-lines {
    background-image: url(@resources/svg/orange-lines.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}
